.idea/
env/
fill_pdf_from_json/.vs/
fill_pdf_from_json/bin/
fill_pdf_from_json/obj/
*/__pycache__/*
__pycache__/*
json_inputs
pdf_outputs
pdf_inputs
pdf_outputs/ar-11-unlocked-filled.pdf
telegram_bot/.env
venv
.env