.idea/
env/
fill_pdf_from_json_src_code/.vs/
fill_pdf_from_json_src_code/bin/
fill_pdf_from_json_src_code/obj/
*/__pycache__/*
__pycache__/*
json_inputs
pdf_outputs
pdf_inputs
pdf_outputs/ar-11-unlocked-filled.pdf
telegram_bot/.env
venv